---
- name: Setup docker .env file
  template:
    src: templates/dockerEnv.env
    dest: "../.env"
- name: Update apt cache
  apt: update_cache=yes
- name: Upgrade all apt packages
  apt: upgrade=dist
- name: Add an apt signing key for Docker
  apt_key:
    url: 'https://download.docker.com/linux/ubuntu/gpg'
    state: present
- name: Add apt repository for stable version
  apt_repository:
    repo: 'deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"'
    state: present
- name: Install Docker
  package:
     name: docker-ce
     state: latest
- name: Ensure docker group exists
  group:
    name: docker
    state: present
- name: Start Docker service
  service:
    name: docker
    state: started
    enabled: yes
- name: 'Add user {{ adminuser }} to docker group'
  user:
    name: '{{ adminuser }}'
    groups: docker
    append: 'yes'

- name: Install docker-compose from official github repo
  get_url:
    url : https://github.com/docker/compose/releases/download/v2.14.2/docker-compose-Linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: '+x'
- name: create docker-compose symbolic link
  file:
    src: /usr/local/bin/docker-compose
    dest: /usr/bin/docker-compose
    state: link

- name: Create folder for docker data
  file:
    path: "{{ docker.data_dir }}"
    state: directory

