---
- name: Install needed packages
  apt:
    name:
      - samba
      - samba-client
      - samba-common
      - cifs-utils
    state: present
  tags: samba
- name: Register Samba version
  shell: >
    set -o nounset -o pipefail -o errexit &&
    smbd --version | sed 's/Version //'
  args:
    executable: /bin/bash
  register: samba_version
  changed_when: false
  tags: samba
- name: Start Samba service(s)
  service:
    name: "{{ item }}"
    state: started
    enabled: true
  with_items: "{{ samba_services }}"
  tags: samba
- name: Create/update samba users
  include_tasks: "smbusers.yml"
  loop: "{{ users }}"
- name: Configuring samba shares
  template:
    src: homeserver_smb.conf
    dest: /etc/samba/smb.conf
    owner: root
    group: root
    mode: 0644
  notify:
    - restart smbd

